<form action="/words/<%= @word.id() %>/definition/new" method="post">
  <div class="form-group">
    <label for="definition"></label>
    <input type="text" name="definition" class="form-control">
  </div>
  <button type="submit">Add a definition</button>
</form>
