<h4><a href="/">Back home</a></h4>
<form action="/find" method="post">
  <div class="form-group">
    <label for="find">Find word:</label>
    <input type="text" name="find" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Find</button>
</form>
