<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/css/styles.css" media="screen" title="no title" charset="utf-8">
    <title>Encyclopdia Luketannica</title>
  </head>
  <body>
    <div class="container">
      <div class="well">
        <div class="jumbotron text-center">
          <h1>Encyclopedia Luketannica</h1>
          <h2>Learn about animals of the world</h2>
        </div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
