<form action="/add" method="post">
  <div class="form-group">
    <label for="name"></label>
    <input type="text" name="name" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
<h3><a href="/">Back home</a></h3
