<h3>Current Words in the encyclopedia</h3>
<ul>
  <% @words.each do |word| %>
    <li><a href='/words/<%= word.id() %>'><%= word.name %><a></li>
  <% end %>
</ul>

<h2><a href="/add">Add a new word</a></h2>
