<form action="/add" method="post">
  <div class="form-group">
    <label for="name"></label>
    <input type="text" name="name" class="form-control">
  </div>
  <button type="submit">Add</button>
</form>
